
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-calistoga: "Calistoga", sans-serif;
    --animate-ping-large: ping-large 1s ease-in-out infinite;
    --animate-move-left: move-left 1s linear infinite;
    --animate-move-right: move-right 1s linear infinite;
    @keyframes ping-large {
        75%, 100% {
          transform: scale(3);
          opacity: 0;
        }
      }
    @keyframes move-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    @keyframes move-right {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }

    .hero-ring {
        @apply absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }
}

@layer utilities {
    .container {
        @apply lg:max-w-5xl;
    }
}


.container {
    @apply mx-auto px-4 md:px-8;
}


